@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Lora:wght@600;700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
}
nav img {
  max-width: 9%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
nav ul a {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #1A2428;
  text-decoration: none;
}

.heroContent {
  background-image: url(./assets/asset/header/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 -15px 30px -23px darkgray;
  display: flex;
  align-items: center;
  min-height: 93vh;
}
.heroContent .wrapper {
  display: flex;
}
.heroContent .wrapper .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 100%;
  max-width: 30rem;
  margin: 0 auto;
}
.heroContent .wrapper .textContainer h1 {
  font-family: "Lora", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.heroContent .wrapper .textContainer p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 50ch;
  margin: 2rem 0;
}
.heroContent .wrapper .textContainer button {
  position: relative;
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2rem;
  width: 6.7rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.heroContent .wrapper .imageContainer {
  flex: 2 1 100%;
}

.wrapper .about {
  display: flex;
  gap: 5rem;
  margin: 6rem auto 14rem;
}
.wrapper .about .textContainer {
  flex-basis: 100%;
}
.wrapper .about .textContainer h2 {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
}
.wrapper .about .textContainer .subHeading {
  font-family: "Lora", sans-serif;
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.wrapper .about .textContainer p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 50ch;
}
.wrapper .about .textContainer button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2rem;
  width: 6.7rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
}
.wrapper .about .textBox {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  align-self: flex-start;
  background-color: rgb(87, 177, 37);
  border-radius: 25px;
  color: #fff;
  flex-basis: 100%;
  padding: 4rem 3.532rem 4rem 2.5rem;
  margin: 0 auto;
}

.productHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productHeader h2 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.productHeader p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 60ch;
}

.veggie {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.veggie .vegBox {
  flex-direction: column;
  flex: 1 0 20%;
}
.veggie img {
  max-width: 100%;
}
.veggie .vegText {
  border: 0.1rem solid rgb(238, 238, 238);
  border-top: none;
  padding: 1rem;
}
.veggie h3 {
  font-family: "Lora", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
.veggie p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: auto;
}
.veggie .price {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 100%;
  color: #207200;
  font-weight: 700;
}
.veggie .price span {
  text-decoration: line-through;
}
.veggie button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 1.6rem;
  width: 5.9rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  position: absolute;
}

.gallery {
  background-image: url(./assets/asset/grass.jpg);
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  margin-top: 5rem;
}
.gallery .galleryHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gallery .galleryHeader h2 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.gallery .galleryHeader p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 55ch;
}
.gallery .galleryHeader .galleryButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.1rem;
}
.gallery .galleryHeader .galleryButtons button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2rem;
  width: 6.7rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  width: fit-content;
  padding-inline: 1rem;
  position: relative;
}
.gallery .imageGallery {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;
}
.gallery .imageGallery li {
  flex-basis: calc(33% - 0.2rem);
}
.gallery .imageGallery .bigPic {
  flex-basis: calc(50% - 0.2rem);
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}
.load button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2rem;
  width: 6.7rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.news {
  background-color: #207200;
  background-size: 100% 55%;
  padding-bottom: 5%;
}
.news .newsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.news .newsHeader h2 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-block: 5rem 0.5rem;
}
.news .newsHeader p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 75ch;
  color: #fff;
  margin-bottom: 3rem;
}
.news .newsBox {
  display: flex;
  background-color: #207200;
  gap: 1.6rem;
}
.news .newsBox .newsContainer {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1.1rem 1.1rem 2rem 1.21rem;
  flex-basis: calc(33% - 2.9rem);
}
.news .newsBox .newsContainer .imageContainer {
  border-radius: 5px;
}
.news .newsBox .newsContainer .textContainer {
  display: flex;
  flex-direction: column;
}
.news .newsBox .newsContainer .textContainer h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2rem;
  text-align: left;
  margin-top: 1rem;
}
.news .newsBox .newsContainer .textContainer p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: auto;
  text-align: left;
  color: #1A2428;
}
.news .newsBox .newsContainer .textContainer button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2.8rem;
  width: 7.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  position: relative;
  cursor: pointer;
}

footer {
  background-image: url(./assets/asset/cow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 5rem;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.footerAbout {
  flex-basis: calc(20% - 3rem);
  flex-direction: column;
}
.footerAbout p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 4cw;
}

.icons {
  display: flex;
  gap: 1.2rem;
}
.icons li {
  display: flex;
}
.icons li img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  border: 0.8rem solid #207200;
  background-color: #207200;
}

.links {
  flex-basis: calc(20% - 3rem);
}
.links h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.links nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 1.2rem;
  gap: 0.6rem;
}
.links nav a {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 3cw;
}

.recentProducts {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 3rem);
}
.recentProducts h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 1.2rem;
}
.recentProducts .miniVeg {
  display: flex;
}
.recentProducts .miniVeg img {
  max-width: 4.5rem;
}
.recentProducts .miniVeg .vegText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.7rem;
}
.recentProducts .miniVeg .vegText h4 {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 0.4rem;
}
.recentProducts .miniVeg .vegText .price {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 100%;
  color: #207200;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  justify-content: flex-end;
}

.subscribe {
  flex-basis: calc(25% - 3rem);
}
.subscribe h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 1.2rem;
}
.subscribe p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: auto;
}
.subscribe input {
  height: 2.5rem;
  width: 11.9rem;
}

.copyRight {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 100%;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  padding-top: 4.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .noBackground {
    display: none;
  }
  ul {
    flex-wrap: nowrap;
  }
  .heroContent {
    background-size: cover;
  }
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .newsBox,
  .footerBox,
  .footerAbout,
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1, h2, h3, h4 {
    text-align: center;
  }
  .contactUs {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 100%;
  }
  .contactUs #subject {
    max-width: 25ch;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 55%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h4 {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 100%;
  font-weight: 600;
  font-size: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

button {
  position: relative;
}

.contactHeader {
  background-image: url(../../assets/asset/contact.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactHeader h1 {
  font-family: "Lora", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-weight: 400;
  font-family: "Lora", sans-serif;
}

.contact .wrapper {
  display: flex;
  gap: 3rem;
  margin-top: 6rem;
}
.contact .wrapper .contactInfo {
  flex-basis: calc(40% - 3rem);
  align-self: center;
}
.contact .wrapper .contactInfo .contactBox {
  padding: 1.5rem 0 1.5rem 2.5rem;
  margin-bottom: 2.2rem;
  border: 0.1rem solid rgb(238, 238, 238);
  border-left: 0.6rem solid green;
}
.contact .wrapper .contactInfo .contactBox h4 {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-weight: 500;
}
.contact .wrapper .contactInfo .contactBox p {
  color: #1A2428;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 100%;
  font-size: 1rem;
}
.contact .wrapper .contactUs {
  display: flex;
  flex-basis: calc(50% - 3rem);
  flex-wrap: wrap;
  flex: 0 1 60%;
  border: 0.1rem solid rgb(238, 238, 238);
  padding: 1.5rem;
  gap: 1rem;
}
.contact .wrapper .contactUs input {
  min-height: 2.5rem;
  min-width: 13rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact .wrapper .contactUs #subject {
  width: 28.2rem;
}
.contact .wrapper .formButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .wrapper .formButton button {
  background-color: #207200;
  color: #fff;
  border-radius: 20px;
  height: 2.8rem;
  width: 7.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  position: relative;
  cursor: pointer;
  height: 3rem;
  width: 9rem;
  cursor: pointer;
}