@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Lora:wght@600;700&display=swap');

// COLOURS
$green: #207200;
$white: #fff;
$black: #1A2428;

// FONT STYLES
$primaryFont: 'Lora', sans-serif;
$secondaryFont: 'Barlow', sans-serif;

// BORDER STYLES
$greyBorder: 0.1rem solid rgb(238, 238, 238);