// BACKGROUND IMAGE
.gallery {
  background-image: url(./assets/asset/grass.jpg);
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  margin-top: 5rem;

// GALLERY SUB-HEADER & BUTTON ROW
.galleryHeader {
  @include flexCenter;
    h2 {
      @include header(1.4rem);
    }
    p {
      @include bodyText(55ch);
    }
    .galleryButtons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.1rem;
        button {
          @include button;
          font-family: $secondaryFont;
          font-weight: 500;
          width: fit-content;
          padding-inline: 1rem;
          position: relative;
        }
    }  
}

// IMAGE GALLERY
.imageGallery {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;
    li {
     flex-basis: calc(33% - 0.2rem);
    }
    .bigPic {
      flex-basis: calc(50% - 0.2rem);
    }
   }
 }

// BOTTOM BUTTON
 .load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  button {
    @include button;
  }
 }

