nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  flex-wrap: wrap;
  img {
  max-width: 9%;
  }
  ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  padding-bottom: 0.3rem;
    a {
     font-family: $secondaryFont;
     font-weight: 700;
     color: $black;
     text-decoration: none;
    }
  }
}