nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  img {
  max-width: 9%;
  }
  ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
    a {
      @include navText;
    }
  }
}