.news {
  background-color: $green;
  background-size: 100% 55%;
  padding-bottom: 5%;
  .newsHeader {
    @include flexCenter;
    h2 {
      @include header(1.4rem);
      color: $white;
      margin-block: 5rem 0.5rem;
    }
    p {
      @include bodyText(75ch);
      color: $white;
      margin-bottom: 3rem;
    }
  }
  
.newsBox {
  display: flex;
  background-color: $green;
  gap: 1.6rem;
  .newsContainer {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.1rem 1.1rem 2rem 1.21rem;
    flex-basis: calc(33% - 2.9rem);
    .imageContainer {
      border-radius: 5px;
    }
    .textContainer {
      display: flex;
      flex-direction: column;
      h3 {
        @include header(1.2rem); 
        line-height: 2rem; 
        text-align: left;
        margin-top: 1rem
      }
      p {
        @include bodyText(auto);
        text-align: left;
        color: $black;
      }
      button {
        @include bigButton;

      }
    }
  }
}
}